In [2]:
import pandas as pd
import numpy as np
import config
from db_funcs import dropTable, get_mssql_connection
from weborama_parse_email_report import parse_type_category, get_product_from_insertion
import os
from datetime import date
from datetime import datetime
import warnings 
db_name = config.db_name

# file_path = r'C:\Users\o.bogomolov\Desktop\Jupyter_notebook\38_x5_report_parser'
# file_name = 'test.xlsx'

# df = pd.read_excel(os.path.join(file_path, file_name))

In [3]:
# Включаем отображение всех колонок
pd.set_option('display.max_columns', None)
# Задаем ширину столбцов по контенту
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)

In [68]:
# основной медиаплан
media_plan_link = config.media_plan_link

In [74]:
df = pd.read_csv(media_plan_link, header=None, usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14])

In [75]:
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,DateStart,DateFinish,Флайт,product,category,type,Направление рк,Источник,Тип закупки,Показы,Клики,Лиды,Расход до НДС,Охват,Просмотры
1,10.02.2025,03.03.2025,CVP1_apelsin_02_2025,CVP1,olv,cross-stream,CVP1_apelsin_02_2025|format_olv|type_cross-stream,yandex,cpm,9 212 000,13 173,NaN,250 014,3 070 667,5 987 800

In [76]:
df.shape

(49, 15)

In [77]:
df = df.rename(columns=df.iloc[0]).drop(df.index[0]).reset_index(drop=True)

In [78]:
df.head(2)

,DateStart,DateFinish,Флайт,product,category,type,Направление рк,Источник,Тип закупки,Показы,Клики,Лиды,Расход до НДС,Охват,Просмотры
0,10.02.2025,03.03.2025,CVP1_apelsin_02_2025,CVP1,olv,cross-stream,CVP1_apelsin_02_2025|format_olv|type_cross-stream,yandex,cpm,9 212 000,13 173,NaN,250 014,3 070 667,5 987 800
1,12.02.2025,03.03.2025,CVP1_apelsin_02_2025,CVP1,olv,videobanner,CVP1_apelsin_02_2025|format_olv|type_videobanner,yandex,cpm,8 060 000,14 508,NaN,"136 697,60",2 686 667,3 224 000

In [79]:
df.shape

(48, 15)

In [18]:
df.iloc[0]

0          DateStart
1         DateFinish
2              Флайт
3            product
4           category
5               type
6     Направление рк
7           Источник
8        Тип закупки
9             Показы
10             Клики
11              Лиды
12     Расход до НДС
13             Охват
14         Просмотры
Name: 0, dtype: object